body {
  font-family: roboto;
  background-color: black !important;

  background-image: url(https://img.freepik.com/foto-gratis/show-fotografia_181624-43436.jpg?size=626&ext=jpg&ga=GA1.1.612137085.1699631817&semt=sph);
  background-repeat: no-repeat;
}

/* Título */

.titulo {
  text-align: center;  
  color: black;
}

.titulo {
  background-color: rgb(224, 185, 229, 0.4);
  font-family: 'Dancing Script', cursive;

  font-size: 40px;
}

.titulo h1 { 
  text-decoration: underline rgb(224, 169, 224);
  font-size: 36px;
}

.titulo ol {
  list-style: none;
  font-family: roboto;
  font-size: 36px;
}

/* Menú */
.icono {
  text-decoration: none;

  color: rgb(145, 100, 145);
  font-size: 38px;

  margin: 2%;
}

.btn {
  color: rgb(224, 169, 224) !important;
  font-size: 20px;

  margin: 0 5%;
}

.otros a {
  text-decoration: none;

  color: rgb(224, 169, 224);
  font-size: 20px;
}
.otros .btn {
  font-family: 'Dancing Script', cursive;
  text-decoration-color: rgb(145, 100, 145);
  
  font-size: 20px;
}

.accordion-item {
  background-color: black !important;
}

.accordion li {
  list-style: none;
}

.accordion li a {
  text-decoration: none;

  color: white;
  font-size: 20px;
}

.que {
  text-decoration-line: overline;
  text-decoration-color: rgb(145, 100, 145);
  color: rgb(224, 169, 224);
}


/*Historias*/

.historias {
  font-family: 'Dancing Script', cursive;
  justify-content: center;

  font-size: 12px;
}



/*MEDIDAS*/

@media (max-width:400px) {

  body {
    background-image: url(https://img.freepik.com/foto-gratis/mujer-sentada-cima-montana_181624-469.jpg?size=626&ext=jpg&uid=R125200530&ga=GA1.1.1446367140.1699932938&semt=ais);
    background-position: center;
  }

  .titulo h1 {  
    font-size: 10px;
  }

  .titulo h3 {
    font-size: 8px;
  }

  .titulo ol {
    font-size: 8px;
  }

  .icono {
    font-size: 12px;
  } 

  .accordion ul a {
    font-size: 4px;
  }

  .accordion-item .btn {
    font-size: 4px;
  }

  .accordion a {
    font-size: 4px;
  }
}

@media (max-width: 800px) {
  
  body {
    background-size: cover;
  }

  .titulo h1 {  
    font-size: 38px;
    margin-top: 25%;
  }

  .titulo h3 {
    font-size: 34px;
  }

  .titulo ol {
    font-size: 30px;
    margin-bottom: 10%;
  }

  .icono {
    font-size: 30px;
  } 

  .accordion ul a {
    font-size: 26px;
  }

  .accordion-item .btn {
   font-size: 26px;
  }

  .accordion a {
    font-size: 26px;
  }
}

@media (min-width: 1020px) {

  body {
    background-size: cover;
  }

  .titulo h1 {  
    font-size: 52px;
    margin-top: 20%;
  }

  .titulo h3 {
    font-size: 40px;
  }

  .titulo ol {
    font-size: 36px;
  }

  .icono {
    margin: 5%;
    font-size: 55px;
  } 

  .accordion ul a {
    font-size: 32px;
  }

  .accordion-item .btn {
   font-size: 32px;
  }

  .accordion a {
    font-size: 32px;
  }
}

@media (min-width: 1400px) {

  body {
    background-size: cover;
  }

  .titulo h1 {  
    font-size: 60px;
  }

  .titulo h3 {
    font-size: 46px;
  }

  .titulo ol {
    font-size: 46px;
  }

  .icono {
    margin-top: 5%;
    font-size: 65px;
  } 

  .accordion ul a {
    font-size: 34px;
  }

  .accordion-item .btn {
   font-size: 34px;
  }

  .accordion a {
    font-size: 34px;
  }
}













